.about-data {
	height: 300px;
	width: 40%;
	margin: 75px auto;
	background: #FFFAE4;
	color: #837457;
	border-radius: .25rem;
}
.about-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-data a {
	text-decoration: none;
}