.about-data {
    /* position: relative; */
	height: 300px;
    width: 40%;
    margin-top: 60px;
	/* left: 15%; */
	/* z-index: 1; */
	background: #FFFAE4;
	color: #837457;
	border-radius: .25rem;
}
.about-header {
    padding-top: 20px;
    padding-bottom: 20px;
}