/* .home-top {
	position: relative;
	width: 48vw;
	height: 27vw;
	border-radius: 50%;
	background: #FFFAE4;
	margin: 0 auto;
} */
.home {
	position: relative;
	height: 500px;
	overflow: auto;
	width: 72%;
	/* top: 16%; */
	left: 15%;
	z-index: 1;
	background: #FFFAE4;
	color: #837457;
	border-radius: .25rem;
}
.home-data {
	margin: 0 auto;
	width: 90%;
}
/* .home-bot {
	position: absolute;
	height: 15vw;
	width: 43vw;
	top: 70%;
	left: 5%;
	border-radius: 50%;
	background: #FFFAE4;
} */
.home::-webkit-scrollbar-track {
  border-radius: .25rem;
  background-color: #D4CFB4;
}
.home::-webkit-scrollbar {
  width: 15px;
}
.home::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #B7AC85;
}
.welcome-isabelle {
    height: 200px; 
	width: auto;
	margin-top: 30px;
    margin-bottom: 30px;
}
.home-message {
	text-align: center;
}