.home-top {
	position: relative;
	width: 48vw;
	height: 27vw;
	border-radius: 50%;
	background: #FFFAE4;
	margin: 0 auto;
}
.home-data {
	position: absolute;
	overflow: auto;
	height: 97%;
	width: 72%;
	top: 16%;
	left: 15%;
	z-index: 1;
	color: #837457;
}
.home-bot {
	position: absolute;
	height: 15vw;
	width: 43vw;
	top: 70%;
	left: 5%;
	border-radius: 50%;
	background: #FFFAE4;
}
.home-data::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D4CFB4;
}
.home-data::-webkit-scrollbar {
  width: 8px;
}
.home-data::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #B7AC85;
}
.welcome-isabelle {
    height: 200px; 
    width: auto;
    margin-bottom: 30px;
}