@font-face {
  font-family: 'ACNH';
  src: url('./assets/humming.otf');
  src: url('./assets/humming-webfont.woff') format('woff'),
       url('./assets/humming-webfont.woff2') format ('woff2');
}

body {
  margin: 0;
  font-family: 'ACNH', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://cdn.discordapp.com/attachments/709285942430531650/734241226857119744/newbg3.png') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
