/* .nav-item {
    background-color: #0AC7B8;
    margin-top: 30px;
    margin-right: 30px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #0AC7B8;
    font-weight: bold;
}
.nav a {
    color: white;
}
.nav a:hover {
   background-color:  #00A7A4;
} */
/* .dropdown-menu {
    width: 600%;
} */
.navbar {
    margin-top: 10px;
}
.dropdown a {
    float: left;
    font-size: 16px;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown button {
    margin-right: 50px;
}
.dropdown-menu>button {
    margin-right: 14px;
}
  
