.navbar-container {
    width: 70%;
}
.navbar-row {
    margin-top: 20px;
}
.dropdown a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: white;
}
.dropdown a:hover {
    color: #03A19B;
}
.dropdown a.selected {
    color: #03256C;
}