.dropdown-s-menu-btn {
    color: #FFFFFF;
    background-color: #00C2B1;
}
.dropdown-s-menu-btn:focus {
    box-shadow: 0 0 0 0.2rem #03A19B;
}
.dropdown-s-menu-btn:hover {
    color: #FFFFFF;
    background-color: rgb(87, 199, 183);
}

.dropdown-menu.species {
    width: 550px;
    left: -220px;
    background-color: #00C2B1;
    border: none;
}
.submit-species-btn {
    margin-right: 22px;
    color: #FFFFFF;
    background-color: rgb(55, 210, 237);
}
.submit-species-btn:hover {
    color: #FFFFFF;
    background-color: #03A19B;
}

@media screen and (max-width: 992px) {
    .dropdown-menu.species {
        width: 500px;
        left: -195px;
    }
}
@media screen and (max-width: 768px) {
    .dropdown-menu.species {
        width: 400px;
        left: -140px;
    }
}
@media screen and (max-width: 544px) {
    .dropdown-menu.species {
        width: 340px;
        left: -112px;
    }
}
@media screen and (max-width: 375px) {
    .dropdown-menu.species {
        width: 300px;
        left: -95px;
    }
}