/* .vl-top {
	position: relative;
	width: 48vw;
	height: 27vw;
	border-radius: 50%;
	background: #FFFAE4;
	margin: 0 auto;
} */
.vl {
	position: relative;
	overflow: auto;
	/* height: 70%; */
	height: 600px;
	width: 72%;
	/* top: 16%; */
	left: 15%;
	z-index: 1;
	background: #FFFAE4;
	color: #837457;
	border-radius: .25rem;
}
/* .vl-data {
	position: absolute;
	overflow: auto;
	height: 97%;
	width: 72%;
	top: 16%;
	left: 15%;
	z-index: 1;
	color: #837457;
} */
/* .vl-bot {
	position: absolute;
	height: 15vw;
	width: 43vw;
	top: 70%;
	left: 5%;
	border-radius: 50%;
	background: #FFFAE4;
} */
.vl-data::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D4CFB4;
}
.vl-data::-webkit-scrollbar {
  width: 8px;
}
.vl-data::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #B7AC85;
}
.vl-header {
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 10px;
}