.wl {
	position: relative;
	overflow: auto;
	width: 70%;
    height: 500px;
    top: 10%;
	background: #FFFAE4;
	margin: 0 auto;
	border-radius: .25rem;
}
.wl-data {
	color: #837457;
}
.wl::-webkit-scrollbar-track {
	border-radius: .25rem;
  	background-color: #D4CFB4;
}
.wl::-webkit-scrollbar {
  	width: 15px;
}
.wl::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  	background-color: #B7AC85;
}
.wl-header {
	text-align: center;
	margin-bottom: 10px;
}
.wishlist-copy-btn {
	margin-top: 20px;
	color: #FFFFFF;
    background-color: rgb(55, 210, 237);
}
.wishlist-copy-btn:hover {
	color: #FFFFFF;
    background-color: #03A19B;
}