.wl {
	position: relative;
	overflow: auto;
	width: 70%;
    height: 500px;
    top: 10%;
	background: #FFFAE4;
	margin: 0 auto;
	border-radius: .25rem;
}
.wl-data {
	/* position: absolute;
	overflow: auto;
	height: 88%;
	width: 75%; */
	/* top: 18%;
	left: 14%;
	z-index: 1; */
	color: #837457;
}
/* .wl-bot {
	position: relative;
	width: 25vw;
	height: 9vw;
	top: 70%;
	left: 7%;
	border-radius: 50%;
	background: #FFFAE4;
} */
.wl-data::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D4CFB4;
}
.wl-data::-webkit-scrollbar {
  width: 8px;
}
.wl-data::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #B7AC85;
}
.wl-header {
	text-align: center;
	margin-bottom: 10px;
}
.clipboard {
	margin-top: 20px;
}