.App {
  background: url('./assets/biggerbg.jpeg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0px;
  height: 100vh;
}